@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Modak&display=swap");

#statistics-container {
  background-color: #1a1a1a;
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;

  #loading-animation{
    animation:load 1s infinite linear;
  }
  @keyframes load{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
}
  #title-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-inline: auto;
    // background-color: red;
    height: 50px;
    font-size: 2vw;
    width: 85vw;
    #leet-stats {
      color: #ffa116;
      font-family: "Modak", system-ui;
    }
    #buddy-stats {
      color: white;
      font-family: "Inria Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
  }

  #user-stats {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: grey;
    box-sizing: border-box;
    padding: 16px;
    gap: 16px;
    #questions {
      width: 100%;
      height: 24%;
      // background-color: red;
      display: flex;
      justify-content: space-evenly;
      #easy,
      #medium,
      #hard {
        width: 24%;
        height: 100%;
        background-color: #282828;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: "Inria Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        #number {
          font-size: 2.8vw;
        }
        #bar {
          height: 2px;
          // min-width:20px;
        }
        #caption {
          font-size: 1.2vw;
        }
      }
    }
    #total-solved {
      width: 64%;
      height: 16%;
      background-color: #282828;
      border-radius: 8px;
      color: white;
      font-size: 4vw;
      font-family: "Inria Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #other-stats {
      width: 100%;
      height: 24%;
      display: flex;
      justify-content: space-evenly;
      // background-color: blue;
      #reputation,
      #aceptance,
      #ranking {
        width: 24%;
        height: 100%;
        background-color: #282828;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Inria Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2vw;
        #data{
          height:50%;
          font-size: 3vw;
          // background-color: #ffa116;
          display: flex;
          align-items: center;
        }
        #name{
          height:50%;
          font-size: 2vw;
          // background-color: #ffa116;
          display: flex;
          align-items: center;
        }
        #caption{
          
          
        }
      }
    }
    #chart-container {
      width: 84%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      //  background-color: red;
    }
  }
}

@media screen and (max-width: 1100px) {
  #statistics-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    // height:100%;

    #title-stats {
      // background-color: red;
      height: 5vh;
      width: 70%;
      font-size: 8vw;
      display: flex;
      justify-content: center;
      // margin-inline: auto;
    }

    #user-stats {
      padding: 2px;
      height: 80vh;
      // justify-content: center;
      #questions {
        height: 16%;
        #easy,
        #medium,
        #hard {
          width: 32%;
          #number {
            font-size: 6vw;
          }
          #caption {
            font-size: 4vw;
          }
        }
      }
      #total-solved {
        height: 8%;
        color: white;
        font-size: 6vw;
      }
      #other-stats {
        height: 12%;
        #reputation,
        #aceptance,
        #ranking {
          width: 32%;
          font-size: 3vw;
          #data{
            font-size: 6vw;
          }
          #name{
            font-size: 3vw;
          }
        }
      }
      #chart-container {
        // background-color: red;
        height: 44vh;
        transform: scale(1.2);
      }
    }
  }
}
